In [9]:
!pip install boto3
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd
#//////////
from pymongo import MongoClient
from pandas import DataFrame
#/////////
import boto3
import pandas as pd
from io import StringIO

Requirement already satisfied: boto3 in /usr/local/lib/python3.9/site-packages (1.26.151)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.9/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/site-packages (from boto3) (0.6.1)
Requirement already satisfied: botocore<1.30.0,>=1.29.151 in /usr/local/lib/python3.9/site-packages (from boto3) (1.29.151)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/site-packages (from botocore<1.30.0,>=1.29.151->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/site-packages (from botocore<1.30.0,>=1.29.151->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.151->boto3) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 22.0.4; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [14]:
#connection to mysql
engine = db.create_engine("mysql://root:root@172.30.192.1:3310/retail_db")   #ipconfig
conn = engine.connect()

In [ ]:
#connection to mongoAtlas
def get_database():

    CONNECTION_STRING = "mongodb+srv://immortui1832:19781976@clusterbase.cobercm.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client['retail_db']

In [16]:
##here goes the mysql
customers_df = pd.read_sql_query(text('SELECT * FROM customers'), con=conn)
orders_df = pd.read_sql_query(text('SELECT * FROM orders'), con=conn)
order_items_df = pd.read_sql_query(text('SELECT * FROM order_items'), con=conn)
#products_df = pd.read_sql_query(text('SELECT * FROM products'), con=conn)
customers_df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725

In [13]:
dbname = get_database()
#mongo read products , categories and departments
 
# Create a new variable with the collection products
collection_name = dbname["products"]
 
products = collection_name.find({})

products_df = DataFrame(products)

products_df.head()

#/////////////////////////////////////////////
# Create a new variable with the collection departments
collection_name = dbname["departments"]
 
departments = collection_name.find({})

departments_df = DataFrame(departments)

departments_df.head()
#/////////////////////////////////////////////////
# Create a new ariable with the collection categories
collection_name = dbname["categories"]
 
categories = collection_name.find({})  #aqui se filtraria pero esta vacio

categories_df = DataFrame(categories)

categories_df.head()

NameError: name 'get_database' is not defined

In [15]:
# Credenciales de AWS
access_key = 'AKIAS4FR5LLJ4D33E4ED'
secret_key = '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'

# Nombre del bucket en S3
bucket_name = 'ingestraw'

# Crear cliente de S3
s3_client = boto3.client(
    's3',
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key
)

In [21]:
##same for all tables , automate iteration or create a function ,, use the google code if you can access it
##List of tables
table_names=["customers","orders","order_items","products","departments","categories"]
df_list= [customers_df,orders_df,order_items_df,products_df,departments_df,categories_df]
# Nombre del archivo y contenido a cargar
for table_name, df in zip(table_names,df_list):
                          
    file_name = f"retail/{table_name}.csv"
 
    # Convertir DataFrame a formato CSV en memoria
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)
    
    # Cargar el archivo en el bucket de S3
    s3_client.put_object(
        Bucket=bucket_name,
        Key=file_name,
        Body=csv_buffer.getvalue()
    )

In [22]:
######function structure
def check_table_exists(s3_client, bucket_name, table_name):
    """utiliza el método list_objects_v2 del cliente de S3 para obtener una lista de objetos (archivos) en el bucket Luego,
    se extrae la lista de objetos de la respuesta y se verifica la longitud de la lista. Si la longitud es mayor que cero, 
    significa que se encontraron objetos y, por lo tanto, la tabla ya existe. En ese caso, se devuelve True. De lo contrario, 
    si la longitud es cero, la tabla no existe y se devuelve False."""
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix=f"retail/{table_name}.csv")
    objects = response.get('Contents', [])
    return len(objects) > 0


def upload_data_to_s3(bucket_name, table_names, df_list, access_key, secret_key):
""" bucket_name: Es el nombre del bucket de S3///table_names: Es una lista de nombres de las tablas.
df_list: Es una lista que contiene los DataFrames que se cargarán.///access_key y secret_key: Son las credenciales de acceso de AWS.
-En resumen, la función automatiza la carga de DataFrames en un bucket de S3, 
verificando la existencia de cada tabla antes de la carga.-"""
    # Create S3 client
    s3_client = boto3.client(
        's3',
        aws_access_key_id=access_key,
        aws_secret_access_key=secret_key
    )

    # Iterate over the tables and DataFrames
    for table_name, df in zip(table_names, df_list):
        # File name and content to upload
        file_name = f"retail/{table_name}.csv"

        # Check if table already exists
        if check_table_exists(s3_client, bucket_name, table_name):
            print(f"Table '{table_name}' already exists in the destination. Skipping upload.")
            continue

        # Convert DataFrame to CSV in memory
        csv_buffer = StringIO()
        df.to_csv(csv_buffer, index=False)
        csv_buffer.seek(0)

        # Upload the file to the S3 bucket
        s3_client.put_object(
            Bucket=bucket_name,
            Key=file_name,
            Body=csv_buffer.getvalue()
        )

Table 'customers' already exists in the destination. Skipping upload.
Table 'orders' already exists in the destination. Skipping upload.
Table 'order_items' already exists in the destination. Skipping upload.
Table 'products' already exists in the destination. Skipping upload.
Table 'departments' already exists in the destination. Skipping upload.
Table 'categories' already exists in the destination. Skipping upload.

In [ ]:
# Example usage of the upload_data_to_s3 function
bucket_name = 'ingestraw'
table_names = ['customers', 'orders', 'order_items', 'products', 'departments', 'categories']
df_list = [customers_df, orders_df, order_items_df, products_df, departments_df, categories_df]
access_key = 'AKIAS4FR5LLJ4D33E4ED'
secret_key = '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'

upload_data_to_s3(bucket_name, table_names, df_list, access_key, secret_key)